.header {
    font-family: Poppins, sans-serif ;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.btn_navbar {
    width: 158px;
    height: 32px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right, #FF881F, #FA641E);
    color: white;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0px 6px 10px #FF881F;
}


