.box_suporte_titulos {
    text-align: center;
    margin-top: 60px;
}

.box_titulo {
    width: 334px;
    font-size: 23px;
    color: #333333;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}

.box_subtitulo {
    width: 286px;
    height: 95px;
    font-size: 16px;
    margin-top: 20px;
    color: #333333;
    margin-left: auto;
    margin-right: auto;
}

.container_box_suporte {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.box_suporte {
    width: 382px;
    height: 472px;
    background-color: #FAFAFA;
    border-radius: 60px;
}

.box_suporte_interno_titulos {
    margin-left: 40px;
    padding-top: 40px;
}

.box_suporte_interno_titulos h3 {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
}

.box_suporte_interno_titulos p {
    color: #666666;
    font-size: 16px;
    font-weight: 500;
}

.box_items_list {
    margin-left: 40px;
    margin-top: 20px;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
}

.box_items_list ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.box_items_list li {
    list-style: none;
}

.box_valor {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    height: 56px;
    width: 160px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 50px;
}

.box_valor_box2 {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 50px;
    height: 56px;
    width: 258px;
}

.box_valor h4, .box_valor_box2 h4 {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    padding-top: 15px;
    height: 28px;
    
}

.box_btn button {
    width: 302px;
    height: 56px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 40px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right, #FF881F, #FA641E);
    box-shadow: 0px 6px 10px #FF881F;
    cursor: pointer;
}


.box_whats {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 366px;
    height: 56px;
    gap: 23px;
}

.box_whats p {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
}

.box_img_whats {
    display: flex;
    gap: 7px;
}

.box_img_whats span {
    font-size: 13px;
    color: #333333;
    font-weight: 500;
}