.container_banner {
    background-image: linear-gradient(to bottom, #FA641E, #FF881F );
    padding-top: 10px;
}

.box_banner h1 {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
}

.text_img_banner {
    margin-bottom: 20px;
    margin-top: 32px;
}

/* mensagem sobre a equipe */
.box_mensagem {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    width: 382px;
    height: 72px;
    margin-left: 10px;
}

.box_mensagem p {
    margin-right: 20px;
}

/* layout desktop e mobile */
@media (min-width: 600px) {

    /* box banner com texto e imagem */
    .box_banner {
        display: flex;
        justify-content: center;
    }

    /* tamanho da box com texto e imagem */
    .text_img_banner {
        display: flex;
        width: 600px;
        justify-content: center;
    }

    /* mensagem sobre a equipe */
    .box_mensagem {
        margin: 0px auto;
    }
}

@media (max-width: 599px) {
    
    /* tamanho da box com texto e imagem */
    .text_img_banner {
        width: 100%;
        display: flex;
    }

    /* box do h1 */
    .text_banner {
        width: 382px;
        height: 200px;
        margin-bottom: 30px;
        margin-left: 10px;
        text-align: left;
    }

    .text_banner h1 {
        width: 100%;
        height: 100%;
    }

    .img_banner {
        overflow: hidden;
        width: 130px;
        height: 250px;
    }

    .img_banner img {
        position: relative;
        left: -50%;
    }    
}

/* box formulario */
.form {
    width: 382px;
    height: 547px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 20px;
}

.form h2 {
    color: #333333;
    font-size: 28px;
    font-weight: 600;
    margin-top: 32px;
}

.form p {
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    margin-top: 8px;
}

.form label {
    color: #333333;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form form {
    width: 334px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.form1 input {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 15px;
    border: 1px solid #999999;
}

.form input:focus {
    outline: none;
    padding-left: 10px;
}

.form input::placeholder {
    padding-left: 10px;
    color: #CCCCCC;
}

.form1 input[type="tel"] {
    border: none;
}

.form input[type="submit"] {
    margin-top: 40px;
    background-color: #FA641E;
    width: 100%;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

.form1 select {
    border: none;
    border-radius: 20px;
    background-color: #F0F0F0;
    cursor: pointer;
    width: 100px;
}

.form1 option {
    border: none;
    border-radius: 20px;
    background-color: transparent;
}

.form select:focus, option:focus {
    outline: none;
}

.form_input_tel {
    display: flex;
    border: 1px solid #999999;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* logo da empresa banner */
.logo_banner {
    text-align: center;
    height: 100px;
}

.logo_banner img {
    position: relative;
    top: 30px;
}

/* form 2 */
.form2 input {
    border: 1px solid #999999;
    height: 48px;
    border-radius: 20px;
}

.form_select_cep {
    display: flex;
    gap: 15px;
}

.form_estado {
    width: 114px;
}

.form_cidade {
    width: 205px;
}

.form_select_cep select {
    height: 48px;
    border: 1px solid #999999;
    border-radius: 20px;
}

.form_select_cep > select > #estado {
    width: 118px;
    border: 20px;
}

.form_endereco {
    display: flex;
    gap: 15px;
}

.form_endereco input[type="tel"] {
    width: 114px;
}

.form_endereco input[type="text"] {
    width: 200px;
}

/* form tres */
.form3 input {
    height: 48px;
    border-radius: 20px;
    border: 1px solid #999999;
}

.form3 select {
    height: 48px;
    border-radius: 20px;
    border: 1px solid #999999;
    margin-bottom: 60px;
}